beautifulsoup4
blinker
bs4
certifi
chardet
charset-normalizer
click
decorator
diskcache
Flask
fpdf
idna
ipaddress
itsdangerous
Jinja2
llama-cpp-python
MarkupSafe
msgpack
numpy
pandas
pillow
prettytable
py
pymetasploit3
python-dateutil
python-dotenv
python-nmap
pytz
RapidFuzz
reportlab
requests
retry
scapy
six
soupsieve
tabulate
typing_extensions
tzdata
urllib3
wcwidth
Werkzeug
flask-wtf
wtforms
watchdog
pymongo
redis
passlib
bcrypt
celery[redis]
mobsfscan
quark-engine
