

/* Basic Reset and Global Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #1b1e21;
    color: #ecf0f1;
}

h1, h2, h3 {
    color: #ecf0f1;
}

p {
    color: #bdc3c7;
}

/* Hero Section */
.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background: #161617;
    text-align: left;
    margin-top: 100px;
}

.hero-content {
    max-width: 50%;
}

.hero-image img {
    width: 80%;  /* Increase image width */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-left: 10%; /* Center the image by pulling it slightly to the left */
}


.hero-content h1 {
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 2.1rem;
    margin-bottom: 30px;
}

.feature-list {
    list-style-type: none;
    padding: 0;
}

.feature-list li {
    font-size: 1.9rem;
    color: #ecf0f1;
    margin: 10px 0;
    position: relative;
    padding-left: 25px;
}

.feature-list li::before {
    content: '✔';
    position: absolute;
    left: 0;
    top: 0;
    color: #4CAF50;
}

/* Hero Image Styling */
.hero-image {
    max-width: 50%;
}
.features-section {
    padding: 40px;
    background-color: #1c1a1a;
}

.features-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.feature {
    flex: 1 1 300px;
    margin: 20px;
    padding: 20px;
    background: #252323;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
}

.feature h3 {
    color: #2980b9;
}

.feature p {
    margin-top: 10px;
}

.testimonials-section {
    padding: 40px;
    background-color: #2a2d2e;
    text-align: center;
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial {
    max-width: 600px;
    margin: 20px;
    padding: 20px;
    background-color: #1f1c1c;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial cite {
    display: block;
    margin-top: 10px;
    font-style: italic;
    color: #95a5a6;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .hero-section {
        flex-direction: column;
        text-align: center;
    }

    .hero-content {
        max-width: 100%;
    }

    .hero-image {
        max-width: 100%;
        margin-top: 30px;
    }
    .features-container {
        flex-direction: column;
    }

    .feature {
        max-width: 100%;
    }
}

