<div class="top-bar">
    <div class="logo">
        <a href="{{ url_for('home') }}">
            <img src="{{ url_for('static', filename='assets/autosecure-logo-white.png') }}" alt="AutoSecure Logo">
        </a>
    </div>
    <div class="top-title" id="title-trigger">AutoSecure
        <div class="info-card">
            <h3>AutoSecure</h3>
            <p>An advanced cybersecurity pentesting toolkit that automates complex security assessments, streamlining time-intensive tasks for faster and more efficient vulnerability detection and analysis.</p>
        </div>
    </div>
    <div class="top-year">2025</div>
</div>
